---
import Container from "@/components/Container.astro";
import Card from "../components/Card.astro";
import Head from "../components/Head.astro";
import IndexHeader from "../components/IndexHeader.astro";
import ThemeSwitch from "../components/ThemeSwitch.astro";
import Umami from "../components/Umami.astro";

import { sortPosts } from "@/util";

const posts = await Astro.glob("./posts/*.md");
const allPosts = sortPosts(posts);
---

<html lang="zh">
  <head>
    <Head />
    <link rel="manifest" href="/manifest.json" />
  </head>
  <body>
    <Container>
      <IndexHeader />
    </Container>
    <Container>
      <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 mx-0 mr-0">
        {allPosts.map((p) => <Card post={p} />)}
      </div>
    </Container>
    <ThemeSwitch />
    <Umami />
  </body><script>
    import { config } from "@/config";
    if (document.location.href.startsWith(config.site.url)) {
      document.addEventListener("DOMContentLoaded", () => {
        const cards = document.querySelectorAll("a[data-draft='true']");
        // hidden
        cards.forEach((card) => {
          card.classList.add("hidden");
        });
      });
    } else {
      document.addEventListener("DOMContentLoaded", () => {
        // for dev
        const cards = document.querySelectorAll("a[data-draft='true']");
        // add opacity and border
        cards.forEach((card) => {
          card.classList.add("opacity-60");
          card.classList.add("border-2");
          card.classList.add("border-gray-500");
          card.classList.add("border-dashed");
        });
      });
    }
  </script>
</html>
