---
import { config } from "@/config";
import "../styles/main.css";

const { title } = Astro.props;

const siteTitle = config.site.title;

const fullTitle = title ? `${siteTitle} - ${title}` : siteTitle;
---

<meta charset="utf-8" />
<title>{fullTitle}</title>

<link rel="icon" sizes="any" href="/favicon.png" type="image/png" />
<link rel="apple-touch-icon-precomposed" href="/favicon.png" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="mobile-web-app-capable" content="yes" />
