---
import { parseArticleTitle } from "@/util";
import Logo from "./Logo.astro";

const { posts, post } = Astro.props;
---

<aside class="fixed top-0">
  <div class="flex justify-center items-center pt-2">
    <div>
      <Logo />
      <ul class="pl-2 pr-2 pt-5 h-screen overflow-x-hidden">
        {
          posts.map((p: any) => (
            <li class="pt-2 max-w-[208px] w-[208px] min-w-[208px] overflow-x-hidden line-clamp-1">
              <a
                href={p.url}
                class={`${post.url === p.url ? "title-link-active" : "title-link"}`}
              >
                {parseArticleTitle(p)}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</aside>
